/* General Styling */
body {
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    margin: 0px auto;
    max-height: 420px;
    text-align: center;
    width: 250px;
}

a:hover {
    text-decoration: none;
}

header {
    background-color: #3C78D8;
    cursor: pointer;
    height: 65px;
    margin: 0px auto;
    vertical-align: middle;
}

.main-header {
    position: relative;
}

.red-header {
    background-color: #C70900;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
}

header h1 {
    color: #ffffff;
    font-family: 'Pacifico', sans-serif;
    font-size: 3em;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
}

::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #EFEFEF;
    height: 50px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

.promise {
    color: #999999;
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
    text-decoration: underline;
}

footer {
    background-color: #3C78D8;
    height: 10px;
    margin-top: 10px;
}
/* End General Styling */

/* Main popup styling */
.main-menu {
    border-bottom: 2px solid #999999;
    color: #999999;
    cursor: pointer;
    width: 100%;
}

.main-menu:hover {
    border-bottom: 2px solid #3C78D8;
    color: #3C78D8;
    text-decoration: none;
}

.main-menu-incognito:hover {
    border-bottom: 2px solid #191919;
    color: #191919;
    text-decoration: none;
}
/* End Main Menu Styling */

/* Photo popup styling */
.photo {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    cursor: pointer;
    display: inline-block;
    height: 68px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    width: 68px;
}

.photo:hover {
    border-color: #3C78D8;
}

.photo-incognito:hover {
    border-color: #191919;
}
/* End photo popup styling */

/* Video popup styling */
.video {
    background-color: #000000;
    border: 2px solid #cccccc;
    cursor: pointer;
    height: 145px;
    left: 50%;
    margin-top: 4px;
    position: relative;
    transform: translateX(-50%);
    width: 240px;
}

.video-incognito:hover {
    border-color: #191919;
}
/* End video popup styling */

/* About popup styling */
.img-logo {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.about-text {
    margin-top: 0;
}

.react-text {
    color: #61DAFB;
}
/* End About popup styling */