/* General Styling */
body {
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    margin: 0px auto;
    max-height: 420px;
    text-align: center;
    width: 250px;
}

a:hover {
    text-decoration: none;
}

header {
    background-color: #3C78D8;
    cursor: pointer;
    height: 65px;
    margin: 0px auto;
    vertical-align: middle;
}

.main-header {
    position: relative;
}

.red-header {
    background-color: #C70900;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.red-header-show {
    background-color: #C70900;
}

header h1 {
    color: #ffffff;
    font-family: 'Pacifico', sans-serif;
    font-size: 3em;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
}

.dip {
    font-size: 2.80em;
    line-height: 145%;
}

::-webkit-scrollbar {
    height: 10px;
    width: 5px;
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background: #EFEFEF;
    height: 50px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

.promise {
    color: #999999;
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
}

.logo {
    color: #3C78D8;
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
}

footer {
    background-color: #3C78D8;
    height: 10px;
    margin-top: 10px;
}

.red-footer {
    background-color: #C70900;
}

.black_overlay {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin-top: 65px;
    margin-bottom: 12px;
    background-color: black;
    z-index: 1001;
    opacity: .80;
    filter: alpha(opacity=80);
}

.white_content {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background-color: white;
    z-index: 1002;
    transform: translateX(-50%);
    overflow: auto;
}

.btn-dialog {
    border-bottom: 2px solid #999999;
    border-radius: 0;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    width: 30%;
}

.confirm:hover {
    border-bottom-color: #3C78D8;
    color: #3C78D8;
}

.deny:hover {
    border-bottom-color: #C70900;
    color: #C70900;
}
/* End General Styling */

/* Main popup styling */
.main-menu {
    border-bottom: 2px solid #999999;
    color: #999999;
    cursor: pointer;
    width: 100%;
}

.main-button {
    border: 2px solid #999999;
    color: #999999;
    cursor: pointer;
    font-size: 1.5em;
    margin: 20px auto 10px auto;
    width: 80%;
}

.main-button:hover {
    border: 2px solid #3C78D8;
    color: #3C78D8;
}

.main-button-red:hover {
    border: 2px solid #C70900;
    color: #C70900;
}

.main-menu:hover {
    border-bottom: 2px solid #3C78D8;
    color: #3C78D8;
    text-decoration: none;
}

.main-menu-incognito:hover {
    border-bottom: 2px solid #191919;
    color: #191919;
    text-decoration: none;
}

.main-popup {
    display: block;
}

.welcome {
    height: 100%;
    display: none;
    width: 100%;
    z-index: 1000;
}

.welcome a {
    cursor: pointer;
}

.welcome h4 {
    margin-bottom: 20px;
}

.welcome .glyphicon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 70px;
    font-size: 1.5em;
    color: #cccccc;
}

.welcome .glyphicon:hover {
    color: #000000;
}
/* End Main Menu Styling */

/* Photo popup styling */
.photo {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    cursor: pointer;
    display: inline-block;
    height: 68px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    width: 68px;
}

.photo:hover {
    border-color: #3C78D8;
}

.photo-incognito:hover {
    border-color: #191919;
}
/* End photo popup styling */

/* Video popup styling */
.video {
    background-color: #000000;
    border: 2px solid #cccccc;
    cursor: pointer;
    height: 145px;
    left: 50%;
    margin-top: 4px;
    position: relative;
    transform: translateX(-50%);
    width: 240px;
}

.video-incognito:hover {
    border-color: #191919;
}
/* End video popup styling */

/* About popup styling */
.img-logo {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.about-text {
    margin-top: 0;
}

.react-text {
    color: #61DAFB;
}
/* End About popup styling */

/* Deep Six Page Styling */
.alert {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
}

.deep-six-item {
    border-bottom: 2px solid transparent;
    color: #999999;
    cursor: pointer;
    margin: 5px auto 5px auto;
    width: 80%;
}

.deep-six-item-checked {
    border-bottom: 2px solid #C70900;
    color: #C70900;
    cursor: pointer;
    margin: 5px auto 5px auto;
    width: 100%;
}

.deep-six-item:hover {
    border-bottom: 2px solid #C70900;
    color: #C70900;
}
/* End Deep Six Page Styling */