/* General Styling */
body {
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    margin: 0px auto;
    max-height: 420px;
    text-align: center;
    width: 200px;
}

a:hover {
    text-decoration: none;
}

header {
    background-color: #3C78D8;
    cursor: pointer;
    height: 60px;
    margin: 0px auto;
}

header h1 {
    color: #ffffff;
    margin: 0;
}
/* End General Styling */

/* Main popup styling */
.main-menu {
    border-bottom: 2px solid #999999;
    color: #999999;
    cursor: pointer;
}

.main-menu:hover {
    border-bottom: 2px solid #3C78D8;
    color: #3C78D8;
    text-decoration: none;
}
/* End Main Menu Styling */

